// Place all the styles related to the Cardboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cardboard-item{
  display: inline-block;
  margin: 10px;
  padding: 30px;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  min-width: 200px;
}
