// Place all the styles related to the Cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.glyphicon-remove{
  top: 0;
  display: table-cell;
}

.glyphicon-remove:hover{
  cursor: pointer;
}

table h3{
  margin: 0;
}

.cart-meta{
  float: right;
}

.cart-meta-text{
  width: 150px;
  display: inline-block;
}

.clear{
  clear: both;
}
