<!DOCTYPE html>
<html>
  <head>
    <title>Captur3dChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
      <%= react_component 'Navbar', current_order: current_order %>
      <main class='container'>
        <%= flash_messages %>
        <%= yield %>
      </main>

  </body>
</html>
